body{
    background-color: rgba(246, 208, 159, 0.493);
}
.Articles1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.Articles2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.Articles3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}.Articles4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.a1{
    background-image: url(a1.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a2{
    background-image: url(a2.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a3{
    background-image: url(a3.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a4{
    background-image: url(a4.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a5{
    background-image: url(a5.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a6{
    background-image: url(new2.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a7{
    background-image: url(new1.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a8{
    background-image: url(new3.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a9{
    background-image: url(a9.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a10{
    background-image: url(a10.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a11{
    background-image: url(a11.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a12{
    background-image: url(a12.jpg);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a13{
    background-image: url(a13.webp);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a14{
    background-image: url(a14.webp);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a15{
    background-image: url(a15.webp);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.a16{
    background-image: url(a16.webp);
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 28px;
}
.row{
    align-items: center;
    display: table-row;
    height: 600px;
    display:table-column;
}
.navbar{
    padding: 8px 0;
    background-color:#CE6A6B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    .link{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .link:hover{
        color:#f5e8db;
    }
    .links{
        display: flex;
        align-items:center;
        justify-content: space-around;
        width: 400px;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #EBACA2;
    }
    .social{
        width: 40px;
    }
    .sb{
        width: 50px;    
    }
    p{
        color: white;
        font-size: 20px;
    }
    .text1{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    .p{
        text-decoration: none;
    }